.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header {
  background: #fff;
}

.content__wrap {
  max-width: 1300px;
  margin: 0 auto;
}

.content__h2 {
  padding-top: 0;
  margin-top: -12px;
}

.content__desc {
  margin-top: 40px;
  margin-bottom: 83px;
}

.content__link {
  border: 2px solid #000;
  color: #000;
}

.content__link:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #FD3E1E;
  border-color: #FD3E1E;
}

.footer {
  background: #fff;
  width: 100%;
}

.footer__item {
  color: #000;
}

.footer__link {
  color: #224DC1;
  text-decoration: underline;
}

@media (max-width: 1440px) {
  .content__wrap {
    text-align: center;
  }

  .content__h2 {
    margin-top: 10px;
  }

  .content__desc {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .content__desc {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .content__link {
    font-size: 24px;
  }
}