.header {
	&__form {
		max-width: 100%;
		background: #fff;
		border-radius: 5px;
		margin: 0 auto;

	}
}

.form-blur {
	display: none;
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);

	&.active {
		display: block;
		overflow: auto;
	}
}

.form-container {
	max-width: 680px;
	position: relative;
	margin: 0 auto;

	@media (max-width:767px) {
		max-width: 500px;
	}

	@media (max-width:550px) {
		max-width: 380px;
	}

	@media (max-width:425px) {
		max-width: 280px;
	}

	&__h2 {
		text-align: center;
		font-size: 64px;
		line-height: 72px;
		font-weight: bold;
		color: #fff;
		margin-bottom: 40px;

		@media (max-width:1440px) {
			font-size: 54px;
			line-height: 62px;
			margin-bottom: 30px;
		}

		@media (max-width:1024px) {
			font-size: 44px;
			line-height: 52px;
			margin-bottom: 20px;
		}

		@media (max-width:768px) {
			font-size: 34px;
			line-height: 42px;
			margin-bottom: 10px;
		}

		@media (max-width:425px) {
			font-size: 26px;
		}
	}

	&__close {
		cursor: pointer;
		position: absolute;
		width: 34px;
		height: 34px;
		right: -54px;
		@media (max-width:1024px) {
			background-color: #224DC1;
			right: -17px;
			transform: translateY(-50%);
			border: 3px solid #224DC1;
			border-radius: 50%;
			overflow: hidden;
		}
		img {}
	}
}

.form {
	&__wrap {
		max-width: 440px;
		margin: 0 auto;
		padding-bottom: 40px;
	}

	&__section {
		display: none;
		text-align: center;

		&.active {
			display: block;
		}
	}

	&__stage {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		padding-top: 21px;
		padding-bottom: 24px;
	}

	&__circle {
		display: inline-block;
		width: 36px;
		height: 36px;
		background-color: #E8EBF2;
		border-radius: 50%;
	}

	.mlmr {
		margin-left: 68px;
		margin-right: 72px;

		@media (max-width:1024px) {
			margin-left: 58px;
			margin-right: 62px;
		}

		@media (max-width:768px) {
			margin-left: 48px;
			margin-right: 52px;
		}

		@media (max-width:425px) {
			margin-left: 38px;
			margin-right: 42px;
		}

		&_2 {
			margin-left: 64px;
			margin-right: 68px;

			@media (max-width:1024px) {
				margin-left: 54px;
				margin-right: 58px;
			}

			@media (max-width:768px) {
				margin-left: 44px;
				margin-right: 48px;
			}

			@media (max-width:425px) {
				margin-left: 34px;
				margin-right: 38px;
			}
		}

		&_3 {
			margin-left: 64px;
			margin-right: 64px;

			@media (max-width:1024px) {
				margin-left: 54px;
				margin-right: 54px;
			}

			@media (max-width:768px) {
				margin-left: 44px;
				margin-right: 44px;
			}

			@media (max-width:425px) {
				margin-left: 34px;
				margin-right: 34px;
			}
		}
	}

	&__stage-image {}

	&__format {
		margin-bottom: 32px;
	}

	&__fieldset {
		border: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		@media (max-width:767px) {
			flex-direction: column;
		}
	}
	&__fieldset.mt32 {
		margin-top: 32px;
	}

	&__legend {
		text-align: left;
		font-size: 24px;
		line-height: 32px;
		@media (max-width:767px) {
			text-align: center;
		}
	}

	&__legend.mb12 {
		margin-bottom: 12px;
	}

	&__input {
		appearance: none;
		&:checked + .form__card {
			cursor: pointer;
			background-color: #224DC1;
			color: #fff;
			transition: all 0.3s ease 0s;
			box-shadow: 4px 0 8px #224DC1;
			z-index: 2;
		}
		&:checked + .form__culon {
			cursor: pointer;
			background-color: #224DC1;
			color: #fff;
			transition: all 0.3s ease 0s;
			box-shadow: 4px 0 8px #224DC1;
			z-index: 2;
		}
	}

	&__card {
		width: 220px;
		height: 88px;
		background-color: #E8EBF2;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		display: flex;
		align-items: center;
		user-select: none;
		@media (max-width:767px) {
			margin-bottom: 30px;
			border-radius: 5px;
		}

		&:hover {
			cursor: pointer;
			background-color: #224DC1;
			color: #fff;
			transition: all 0.3s ease 0s;
			box-shadow: 4px 0 8px #224DC1;
			z-index: 2;
		}
	}
	
	&__culon {
		width: 220px;
		height: 88px;
		background-color: #E8EBF2;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		display: flex;
		align-items: center;
		user-select: none;
		@media (max-width:767px) {
			border-radius: 5px;
		}

		&:hover {
			cursor: pointer;
			background-color: #224DC1;
			color: #fff;
			transition: all 0.3s ease 0s;
			box-shadow: 4px 0 8px #224DC1;
			// z-index: 2;
		}
	}

	&__card-name {
		font-size: 24px;
		line-height: 32px;
		display: flex;
		flex-direction: column;
	}

	&__culon-name {
		font-size: 24px;
		line-height: 32px;
		display: flex;
		flex-direction: column;
	}

	&__card-price {
		font-size: 18px;
		line-height: 22px;
		text-align: left;
	}

	&__culon-price {
		font-size: 18px;
		line-height: 22px;
		text-align: left;
	}

	&__card-img {
		padding-left: 12px;
		padding-right: 13px;
	}

	&__culon-img {
		padding-left: 22px;
		padding-right: 23px;
	}

	&__quantity {
		margin-bottom: 28px;
	}

	&__counter-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__counter {
		user-select: none;
		font-size: 64px;
		// line-height: 72px;
		font-weight: bold;

		// @media (max-width:1440px) {
		// 	font-size: 54px;
		// 	line-height: 62px;
		// }

		// @media (max-width:1024px) {
		// 	font-size: 44px;
		// 	line-height: 52px;
		// }

		// @media (max-width:768px) {
		// 	font-size: 34px;
		// 	line-height: 42px;
		// }
		// @media (max-width:425px) {
		// 	font-size: 24px;
		// 	line-height: 32px;
		// }
	}

	&__signs-container {
		margin-top: 10px;
		margin-left: 16px;
	}

	&__plus {
		width: 26px;
		height: 26px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		// border: 1px solid #000;
		&::before {
			content: '';
			position: absolute;
			width: 22px;
			height: 4px;
			background-color: #000;
		}

		&::after {
			content: '';
			position: absolute;
			width: 22px;
			height: 4px;
			background-color: #000;
			transform: rotate(90deg);
		}
	}

	&__minus {
		width: 26px;
		height: 26px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		// border: 1px solid #000;
		&::before {
			content: '';
			position: absolute;
			width: 18px;
			height: 4px;
			background-color: #000;
		}
	}

	&__result {
		font-size: 64px;
		font-weight: bold;
	}


	&__rub {
		font-size: 18px;
		line-height: 22px;

		&_big {
			font-size: 32px;
			line-height: 34px;
			font-weight: normal;
			margin-left: 10px;
		}
	}

	&__line {
		height: 2px;
		background: #707070;
		opacity: 0.2;
		margin-top: 44px;
		margin-bottom: 24px;

	}

	&__line.mt0 {
		margin-top: 0;
	}
	&__line.mt46 {
		margin-top: 46px;
	}

	&__btn-container {
		display: flex;
		align-items: center;
		@media (max-width:1024px) {
			justify-content: space-between;
		}
		@media (max-width:768px) {
			flex-direction: column-reverse;
		}
	}
	
	&__btn {
		cursor: pointer;
		color: #000;
		border: 2px solid #000;
		width: 182px;
	}

	&__btn-margin {
		margin-left: 61px;
		@media (max-width:1024px) {
			margin-left: 0;
			
		}
		@media (max-width:768px) {
			margin-bottom: 20px;
		}
	}

	&__link {
		@extend .header__link;
		color: #224DC1;
		border-color: #224DC1;
		font-size: 24px;
		width: 68px;
	}

	&__submit {
		@extend .btn;
		@extend .form__btn;
	}

	&__user {
		background-color: #E8EBF2;
		border: none;
		border-radius: 5px;
		width: 100%;
		height: 48px;
		font-size: 24px;

		&_name {
			margin-bottom: 32px;
		}
		&_email {
			margin-bottom: 32px;
		}
		&_tel {
			margin-bottom: 114px;
		}
	}

	&__select {
		@extend .form__user;
		cursor: pointer;
		
	}

	&__maps {
		width: 100%;
		height: 240px;
		background-color: #E8EBF2;
	}
}
