.header {
	background: linear-gradient(to right, #361431, #224DC1);

	&__wrap {
		max-width: 1920px;
		margin: 0 auto;
		padding-right: 64px;
		padding-left: 64px;
		padding-top: 12px;

		@media (max-width:1024px) {
			padding-right: 24px;
			padding-left: 24px;
		}
	}

	.link_white {
		color: #fff;
		border-bottom: 1px solid #fff;
		border: 1px solid #fff;
		margin-top: 84px;
		margin-bottom: 136px;

		&:hover {
			transition: all 0.3s ease 0s;
			color: #FD3E1E;
			border-color: #FD3E1E;
		}


		@media (max-width:1440px) {
			font-size: 26px;
			margin-top: 60px;
			// margin-bottom: 80px;
		}

		@media (max-width:1024px) {
			font-size: 22px;
			// margin-bottom: 55px;
		}
	}



	&__body {
		max-width: 1300px;
		margin: 0 auto;
		position: relative;

		@media (max-width:1440px) {
			text-align: center;
		}
	}

	&__h1 {
		color: #fff;
		font-size: 32px;
		padding-top: 84px;

		@media (max-width:1440px) {
			font-size: 30px;
			padding-bottom: 40px;
		}

		@media (max-width:768px) {
			font-size: 26px;
		}
	}

	&__card {
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translateY(35%);
		z-index: 3;

		@media (max-width:1440px) {
			display: none;
		}
	}
}
@import '_menu';
@import '_form';