.main {

	&__wrap {
		padding: 0 15px;
		max-width: 1300px;
		margin: 0 auto;

		@media (max-width:1440px) {
			text-align: center;
			word-wrap: break-word;
		}
	}
}

// первая статья
@import 'article';

// Вторая статья
@import 'stress';

// Третья статья
@import 'action';

// четвёртая статья
@import '_formats';

// пятая статья
@import 'faq';