.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	&__logo {}

	&__burger {
		display: none;

		@media (max-width:1024px) {
			display: block;
		}

		position: absolute;
		width: 30px;
		height: 30px;
		top: 30px;
		right: 0px;
		z-index: 10;

		span {
			position: absolute;
			top: 50%;
			width: 30px;
			height: 2px;
			background-color: #fff;
			transition: all 0.1s ease 0s;

			&::before {
				content: '';
				position: absolute;
				top: 10px;
				width: 30px;
				height: 2px;
				background-color: #fff;
				transition: all 0.3s ease 0s;
			}

			&::after {
				content: '';
				position: absolute;
				top: -10px;
				width: 30px;
				height: 2px;
				background-color: #fff;
				transition: all 0.3s ease 0s;
			}
		}

		&.active {
			span {
				width: 0;

				&::before {
					transform: rotate(-45deg);
					top: 0;
				}

				&::after {
					transform: rotate(45deg);
					top: 0;
				}
			}
		}
	}


	&__mobile {
		display: none;

		&.active {
			position: fixed;
			background-color: #224DC1;
			color: #fff;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 5;
			overflow: auto;

			display: flex;
			flex-direction: column;

			.menu__list {}

			.menu__item {
				&:first-child {
					padding-top: 20px;
				}

				padding-bottom: 15px;
				padding-left: 10px;
			}

			.menu__link {
				border: none;
				font-size: 24px;
			}
		}
	}

	&__nav {}

	&__list {
		display: flex;

		@media (max-width:1024px) {
			display: none;
		}
	}

	&__item {}

	&__link {
		color: #fff;
		font-size: 18px;
		border-bottom: 1px dashed #fff;

		&_extra-margin {
			margin: 0 20px;
		}

		&:hover {
			transition: all 0.3s ease 0s;
			color: #FD3E1E;
			border-color: #FD3E1E;
		}
	}

	&__status {
		@media (max-width:1024px) {
			display: none;
		}
	}
}
