@charset "UTF-8";

@font-face {
  src: url(../fonts/FiraSans-Regular.woff);
  font-family: 'FiraSans';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url(../fonts/FiraSans-Bold.woff);
  font-family: 'FiraSans';
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'FiraSans', Georgia, 'Times New Roman', Times, serif;
}

button {
  outline: none;
  border: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

.lock {
  position: fixed;
  overflow-y: scroll;
}

img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
}

.wrap {
  min-width: 280px;
  padding: 0 10px;
}

.link {
  font-size: 32px;
  padding: 12px 36px;
  border-radius: 30px;
}

.btn,
.form__submit,
.formats__link {
  font-size: 24px;
  padding: 16px 48px;
  border-radius: 30px;
  background: #fff;
  border: 2px solid #000;
  color: #000;
}

.btn:hover,
.form__submit:hover,
.formats__link:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #FD3E1E;
  border-color: #FD3E1E;
}

.h2 {
  font-size: 64px;
  line-height: 72px;
  font-weight: bold;
}

.h2_p {
  padding-top: 64px;
  padding-bottom: 24px;
}

.h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
}

.desc {
  font-size: 24px;
  line-height: 32px;
}

.desc_pb40 {
  padding-bottom: 40px;
}

.notice {
  font-size: 18px;
  line-height: 22px;
}

.notice_red {
  border-left: 5px solid #FD3E1E;
  padding-left: 10px;
}

.header {
  background: -webkit-gradient(linear, left top, right top, from(#361431), to(#224DC1));
  background: -o-linear-gradient(left, #361431, #224DC1);
  background: linear-gradient(to right, #361431, #224DC1);
}

.header__wrap {
  max-width: 1920px;
  margin: 0 auto;
  padding-right: 64px;
  padding-left: 64px;
  padding-top: 12px;
}

.header .link_white {
  color: #fff;
  border-bottom: 1px solid #fff;
  border: 1px solid #fff;
  margin-top: 84px;
  margin-bottom: 136px;
}

.header .link_white:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #FD3E1E;
  border-color: #FD3E1E;
}

.header__body {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.header__h1 {
  color: #fff;
  font-size: 32px;
  padding-top: 84px;
}

.header__card {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(35%);
      -ms-transform: translateY(35%);
          transform: translateY(35%);
  z-index: 3;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.menu__burger {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 30px;
  right: 0px;
  z-index: 10;
}

.menu__burger span {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.menu__burger span::before {
  content: '';
  position: absolute;
  top: 10px;
  width: 30px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__burger span::after {
  content: '';
  position: absolute;
  top: -10px;
  width: 30px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__burger.active span {
  width: 0;
}

.menu__burger.active span::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.menu__burger.active span::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.menu__mobile {
  display: none;
}

.menu__mobile.active {
  position: fixed;
  background-color: #224DC1;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__mobile.active .menu__item {
  padding-bottom: 15px;
  padding-left: 10px;
}

.menu__mobile.active .menu__item:first-child {
  padding-top: 20px;
}

.menu__mobile.active .menu__link {
  border: none;
  font-size: 24px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  color: #fff;
  font-size: 18px;
  border-bottom: 1px dashed #fff;
}

.menu__link_extra-margin {
  margin: 0 20px;
}

.menu__link:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #FD3E1E;
  border-color: #FD3E1E;
}

.header__form {
  max-width: 100%;
  background: #fff;
  border-radius: 5px;
  margin: 0 auto;
}

.form-blur {
  display: none;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.form-blur.active {
  display: block;
  overflow: auto;
}

.form-container {
  max-width: 680px;
  position: relative;
  margin: 0 auto;
}

.form-container__h2 {
  text-align: center;
  font-size: 64px;
  line-height: 72px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 40px;
}

.form-container__close {
  cursor: pointer;
  position: absolute;
  width: 34px;
  height: 34px;
  right: -54px;
}

.form__wrap {
  max-width: 440px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.form__section {
  display: none;
  text-align: center;
}

.form__section.active {
  display: block;
}

.form__stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 21px;
  padding-bottom: 24px;
}

.form__circle {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-color: #E8EBF2;
  border-radius: 50%;
}

.form .mlmr {
  margin-left: 68px;
  margin-right: 72px;
}

.form .mlmr_2 {
  margin-left: 64px;
  margin-right: 68px;
}

.form .mlmr_3 {
  margin-left: 64px;
  margin-right: 64px;
}

.form__format {
  margin-bottom: 32px;
}

.form__fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__fieldset.mt32 {
  margin-top: 32px;
}

.form__legend {
  text-align: left;
  font-size: 24px;
  line-height: 32px;
}

.form__legend.mb12 {
  margin-bottom: 12px;
}

.form__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form__input:checked + .form__card {
  cursor: pointer;
  background-color: #224DC1;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 4px 0 8px #224DC1;
          box-shadow: 4px 0 8px #224DC1;
  z-index: 2;
}

.form__input:checked + .form__culon {
  cursor: pointer;
  background-color: #224DC1;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 4px 0 8px #224DC1;
          box-shadow: 4px 0 8px #224DC1;
  z-index: 2;
}

.form__card {
  width: 220px;
  height: 88px;
  background-color: #E8EBF2;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form__card:hover {
  cursor: pointer;
  background-color: #224DC1;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 4px 0 8px #224DC1;
          box-shadow: 4px 0 8px #224DC1;
  z-index: 2;
}

.form__culon {
  width: 220px;
  height: 88px;
  background-color: #E8EBF2;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form__culon:hover {
  cursor: pointer;
  background-color: #224DC1;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 4px 0 8px #224DC1;
          box-shadow: 4px 0 8px #224DC1;
}

.form__card-name {
  font-size: 24px;
  line-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__culon-name {
  font-size: 24px;
  line-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__card-price {
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.form__culon-price {
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.form__card-img {
  padding-left: 12px;
  padding-right: 13px;
}

.form__culon-img {
  padding-left: 22px;
  padding-right: 23px;
}

.form__quantity {
  margin-bottom: 28px;
}

.form__counter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__counter {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 64px;
  font-weight: bold;
}

.form__signs-container {
  margin-top: 10px;
  margin-left: 16px;
}

.form__plus {
  width: 26px;
  height: 26px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.form__plus::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 4px;
  background-color: #000;
}

.form__plus::after {
  content: '';
  position: absolute;
  width: 22px;
  height: 4px;
  background-color: #000;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.form__minus {
  width: 26px;
  height: 26px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.form__minus::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 4px;
  background-color: #000;
}

.form__result {
  font-size: 64px;
  font-weight: bold;
}

.form__rub {
  font-size: 18px;
  line-height: 22px;
}

.form__rub_big {
  font-size: 32px;
  line-height: 34px;
  font-weight: normal;
  margin-left: 10px;
}

.form__line {
  height: 2px;
  background: #707070;
  opacity: 0.2;
  margin-top: 44px;
  margin-bottom: 24px;
}

.form__line.mt0 {
  margin-top: 0;
}

.form__line.mt46 {
  margin-top: 46px;
}

.form__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__btn,
.form__submit {
  cursor: pointer;
  color: #000;
  border: 2px solid #000;
  width: 182px;
}

.form__btn-margin {
  margin-left: 61px;
}

.form__link {
  border-bottom: 1px dashed #224DC1;
  color: #224DC1;
  border-color: #224DC1;
  font-size: 24px;
  width: 68px;
}

.form__user,
.form__select {
  background-color: #E8EBF2;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 48px;
  font-size: 24px;
}

.form__user_name {
  margin-bottom: 32px;
}

.form__user_email {
  margin-bottom: 32px;
}

.form__user_tel {
  margin-bottom: 114px;
}

.form__select {
  cursor: pointer;
}

.form__maps {
  width: 100%;
  height: 240px;
  background-color: #E8EBF2;
}

.form__maps iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.main__wrap {
  padding: 0 15px;
  max-width: 1300px;
  margin: 0 auto;
}

.article__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article__tab {
  padding-right: 38px;
}

.tab__btn,
.faq__btn {
  cursor: pointer;
  font-size: 32px;
  border: 0;
  color: #224DC1;
  background-color: transparent;
  border-bottom: 1px dashed #224DC1;
  margin-right: 20px;
}

.tab__btn:last-child,
.faq__btn:last-child {
  margin-right: 0;
}

.tab__btn.active,
.active.faq__btn {
  border: 0;
  color: #000;
  background-color: #E8EBF2;
  border-radius: 5px;
}

.tab__btn:focus,
.faq__btn:focus,
.tab__btn:active,
.faq__btn:active {
  color: #FD3E1E;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tab__body,
.faq__body {
  padding-top: 32px;
  display: none;
  max-width: 854px;
}

.tab__body.active,
.active.faq__body {
  display: block;
}

.tab__desc {
  padding-bottom: 20px;
}

.tab__desc:last-child {
  padding-bottom: 0;
}

.stress__desc {
  max-width: 920px;
  padding-bottom: 20px;
}

.stress__desc:last-child {
  padding-bottom: 0;
}

.example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.example__list {
  margin-right: 65px;
}

.example__item {
  font-size: 32px;
  line-height: 34px;
  padding-bottom: 20px;
}

.example__item:last-child {
  padding-bottom: 0;
}

.example__notice {
  margin-left: 85px;
}

.main__action {
  margin-bottom: 64px;
}

.action__notice {
  font-size: 32px;
  line-height: 34px;
  margin-top: 28px;
  margin-bottom: 48px;
}

.main__formats {
  padding-top: 44px;
  padding-bottom: 52px;
}

.formats {
  background-color: #E8EBF2;
}

.formats__h2 {
  text-align: center;
  padding-bottom: 16px;
}

.formats__wrap {
  max-width: 1300px;
  margin: 0 auto;
}

.formats__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formats__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
  padding-bottom: 52px;
}

.formats__column:hover {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  border-radius: 5px;
  -webkit-box-shadow: 0 8px 24px rgba(34, 77, 193, 0.16);
          box-shadow: 0 8px 24px rgba(34, 77, 193, 0.16);
  background-color: #fff;
}

.formats__column:hover .formats__link {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  color: #FD3E1E;
  border-color: #FD3E1E;
}

.formats__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 440px;
}

.formats__img-container {
  height: 308px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formats__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.formats .line-top {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #707070;
  opacity: 0.2;
  top: -26px;
}

.formats .line-top::before {
  content: '85 мм';
  position: absolute;
  right: 50%;
  top: -26px;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.formats .line-right {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #707070;
  opacity: 0.2;
  right: -26px;
}

.formats .line-right::before {
  content: '54 мм';
  position: absolute;
  right: -56px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.formats .line-left {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #707070;
  opacity: 0.2;
  left: -24px;
}

.formats .line-left::before {
  content: '27 мм';
  position: absolute;
  left: -54px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.formats__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.formats__h3 {
  text-align: center;
  font-size: 32px;
  line-height: 34px;
  font-weight: bold;
}

.formats__text {
  text-align: left;
  font-size: 24px;
  line-height: 28px;
  padding-top: 16px;
  padding-bottom: 32px;
}

.formats__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formats__price {
  font-size: 64px;
  font-weight: bold;
  line-height: 34px;
}

.formats__price span {
  font-size: 0.5em;
  padding-left: 10px;
}

.formats__link {
  background-color: transparent;
}

.faq {
  padding-bottom: 60px;
}

.faq__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.faq__btn {
  margin-right: 0;
  margin-bottom: 20px;
}

.faq__body {
  padding-top: 0;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.faq__body .active {
  display: block;
}

.faq__desc {
  padding-bottom: 20px;
}

.footer {
  background: -webkit-gradient(linear, left top, right top, from(#361431), to(#224DC1));
  background: -o-linear-gradient(left, #361431, #224DC1);
  background: linear-gradient(to right, #361431, #224DC1);
}

.footer__wrap {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list {
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer__list_margin {
  margin-right: 81px;
}

.footer__item {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.footer__link {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

@media (max-width: 1440px) {
  .h2 {
    font-size: 54px;
    line-height: 62px;
  }

  .h2_p {
    padding-top: 54px;
  }

  .notice {
    font-size: 24px;
    line-height: 32px;
  }

  .notice__h2 {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .header .link_white {
    font-size: 26px;
    margin-top: 60px;
  }

  .header__body {
    text-align: center;
  }

  .header__h1 {
    font-size: 30px;
    padding-bottom: 40px;
  }

  .header__card {
    display: none;
  }

  .form-container__h2 {
    font-size: 54px;
    line-height: 62px;
    margin-bottom: 30px;
  }

  .main__wrap {
    text-align: center;
    word-wrap: break-word;
  }

  .article__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .article__tab {
    padding-right: 0;
  }

  .stress__desc {
    margin: 0 auto;
  }

  .example {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
  }

  .example__list {
    margin: 0 auto;
  }

  .example__item:last-child {
    padding-bottom: 20px;
  }

  .example__item {
    font-size: 24px;
    line-height: 24px;
  }

  .example__notice {
    margin-left: 0;
    margin-top: 20px;
  }

  .main__action {
    max-width: 854px;
    margin: 0 auto;
    margin-bottom: 44px;
  }

  .action__notice {
    font-size: 28px;
    line-height: 28px;
  }

  .formats__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }

  .formats__text {
    text-align: center;
  }

  .faq {
    padding-bottom: 40px;
  }

  .faq__tab {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__wrap {
    word-wrap: break-word;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__list_margin {
    margin-right: 61px;
  }

  .footer__list {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

@media (max-width: 1024px) {
  .h2 {
    font-size: 44px;
    line-height: 52px;
  }

  .h2_p {
    padding-top: 44px;
  }

  .desc {
    font-size: 20px;
    line-height: 22px;
  }

  .notice {
    font-size: 20px;
    line-height: 22px;
  }

  .header__wrap {
    padding-right: 24px;
    padding-left: 24px;
  }

  .header .link_white {
    font-size: 22px;
  }

  .menu__burger {
    display: block;
  }

  .menu__list {
    display: none;
  }

  .menu__status {
    display: none;
  }

  .form-container__h2 {
    font-size: 44px;
    line-height: 52px;
    margin-bottom: 20px;
  }

  .form-container__close {
    background-color: #224DC1;
    right: -17px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    border: 3px solid #224DC1;
    border-radius: 50%;
    overflow: hidden;
  }

  .form .mlmr {
    margin-left: 58px;
    margin-right: 62px;
  }

  .form .mlmr_2 {
    margin-left: 54px;
    margin-right: 58px;
  }

  .form .mlmr_3 {
    margin-left: 54px;
    margin-right: 54px;
  }

  .form__btn-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .form__btn-margin {
    margin-left: 0;
  }

  .tab__btn,
  .faq__btn {
    border: none;
    font-size: 24px;
  }

  .example__item {
    font-size: 20px;
    line-height: 18px;
  }

  .action__notice {
    font-size: 20px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .footer__list_margin {
    margin-right: 41px;
  }

  .footer__list {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .btn,
  .form__submit,
  .formats__link {
    font-size: 24px;
  }

  .h2 {
    font-size: 34px;
    line-height: 42px;
  }

  .h2_p {
    padding-top: 34px;
    padding-bottom: 14px;
  }

  .header__h1 {
    font-size: 26px;
  }

  .form-container__h2 {
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 10px;
  }

  .form .mlmr {
    margin-left: 48px;
    margin-right: 52px;
  }

  .form .mlmr_2 {
    margin-left: 44px;
    margin-right: 48px;
  }

  .form .mlmr_3 {
    margin-left: 44px;
    margin-right: 44px;
  }

  .form__btn-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .form__btn-margin {
    margin-bottom: 20px;
  }

  .tab__btn,
  .faq__btn {
    margin-bottom: 15px;
  }

  .tab__body,
  .faq__body {
    padding-top: 12px;
  }

  .main__formats {
    padding-top: 24px;
    padding-bottom: 32px;
  }

  .faq {
    padding-bottom: 20px;
  }

  .footer__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__list_margin {
    margin-right: 21px;
  }
}

@media (max-width: 767px) {
  .form-container {
    max-width: 500px;
  }

  .form__fieldset {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__legend {
    text-align: center;
  }

  .form__card {
    margin-bottom: 30px;
    border-radius: 5px;
  }

  .form__culon {
    border-radius: 5px;
  }

  .formats__column {
    margin: 0 10px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 32px;
    padding-top: 0;
  }

  .formats__item {
    max-width: 380px;
  }

  .formats .line {
    display: none;
  }
}

@media (max-width: 550px) {
  .form-container {
    max-width: 380px;
  }

  .formats__item {
    max-width: 320px;
  }

  .formats__price {
    font-size: 44px;
  }

  .formats__link {
    padding: 12px 32px;
  }
}

@media (max-width: 425px) {
  .form-container {
    max-width: 280px;
  }

  .form-container__h2 {
    font-size: 26px;
  }

  .form .mlmr {
    margin-left: 38px;
    margin-right: 42px;
  }

  .form .mlmr_2 {
    margin-left: 34px;
    margin-right: 38px;
  }

  .form .mlmr_3 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .stress__h2 {
    padding-top: 55px;
    padding-bottom: 15px;
  }

  .formats__column {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
  }

  .formats__img-container {
    height: 250px;
  }
}

@media (max-width: 375px) {
  .formats__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .formats__price {
    padding-bottom: 15px;
  }
}